.insta_container {
  padding: 50px 100px;
}

.insta_group {
  background: #353535;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.insta_group p {
  color: white;
  font-size: 12px;
}

@media (max-width: 900px) {
  .insta_container {
    padding: 50px 20px;
  }

  .insta_group p {
    color: white;
    font-size: 10px;
  }
}
